.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  place-items: center;

  padding-inline: 2rem;
}

.heroText {
  position: relative;
  margin-right: 2rem;
  color: #22232b;
}

.heroTitle {
  font-size: 3.2rem;
  /* color: #0f8d91; */
  margin-bottom: 2rem;
}

.heroDescription {
  font-size: 0.8rem;
  margin-bottom: 3rem;
  line-height: 1.8;
}

.buttonsContainer {
  display: flex;
  gap: 1rem;
  font-size: 1.4rem;
}

.blob {
  height: 60%;
  aspect-ratio: 1;

  position: absolute;
  top: 5%;
  left: 5%;
  z-index: -10;
}

.figure {
  max-width: 450px;
}

@media (max-width: 1175px) {
  .blob {
    height: 70%;
  }
}
