.navigation {
  display: flex;
  align-items: center;
}

.logo {
  height: 7rem;
  aspect-ratio: 1;
}

img {
  width: 100%;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin-left: auto;
}

.dp {
  width: 1.4rem;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 1rem;

  border: 2px solid #7e67dd;
}

.navLink {
  position: relative;
  color: #7e67dd;
  text-decoration: none;
  font-weight: bold;
}

.navLinks li {
  position: relative;
  overflow: hidden;

  padding-block: 0.3rem;
}

.navLinks li::before {
  content: "";
  height: 2px;
  width: 100%;
  background-color: #7e67dd;

  position: absolute;
  bottom: 0;
  left: 0;

  translate: -100% 0;
  transition: translate 350ms ease-in;
}

.navLinks li:hover::before {
  translate: 0;
}
