.navigation {
  display: flex;
  align-items: center;

  margin-bottom: 3rem;
  padding-inline: 2rem;
}

.logo {
  position: relative;
  height: 7rem;
  aspect-ratio: 1;
  text-decoration: none;
}

.logo::after {
  content: "Jowbs";
  font-size: 2.4rem;
  font-weight: 700;
  color: #7e67dd;

  position: absolute;
  left: 80%;
  top: 50%;

  translate: 0 -50%;
}

img {
  width: 100%;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin-left: auto;
}

.dp {
  width: 2rem;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 1rem;

  border: 2px solid #7e67dd;
}

.navLink {
  position: relative;
  color: #7e67dd;
  text-decoration: none;
  font-weight: bold;
}

.navLink {
  position: relative;
  overflow: hidden;

  padding-block: 0.3rem;
}

.navLink::before {
  content: "";
  height: 2px;
  width: 100%;
  background-color: #7e67dd;

  position: absolute;
  bottom: 0;
  left: 0;

  scale: 0 1;
  transform-origin: left;
  transition: scale 350ms ease-in;
}

.navLink:hover::before {
  scale: 1 1;
}
